<%- model_class = PushEvent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Action</th>
      <th>Object</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @push_events.each do |push_event| %>
      <% hash = JSON.parse(push_event.data["request"]) rescue nil %>
      <tr>
        <td><%= link_to push_event.id, push_event_path(push_event) %></td>
        <td><%= hash["meta"]["action"] rescue '-'%></td>
        <td><%= hash["meta"]["object"] rescue '-'%></td>
        <td><%=l push_event.created_at %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      push_event_path(push_event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


