<%- model_class = Project -%>
<div class="page-header">
  <h3> Doctors list </h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%#= model_class.human_attribute_name(:id) %></th>
      <th><%#= model_class.human_attribute_name(:name) %></th>
      <th><%#= model_class.human_attribute_name(:created_at) %></th>
      <th><%#=t '.actions', :default => t("helpers.actions") %></th>
      <th><%#=t '.actions', :default => t("helpers.actions") %></th>
      <th><%#=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <% if project.data[":email"].size >3 and project.data[":address"].size > 20 %>
      <tr>
        <td><%= link_to project.id, project_path(project) %></td>
        <td><strong><%= project.name %> </strong></td>
        <td>  <%= project.data[":email"] %></td>
        <td> 
        <%= project.data[":titles"] %> 
        <hr>
        <%= project.data[":enrollment"] %> 
        <hr />
        <%= project.data[":specialties"] %> 
        
        </td>
        <td>  <%= project.data[":address"] %></td>
        
        
        <td>  <%= time_ago_in_words(project.created_at) %> ago  </td>
        <td>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-default btn-xs' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
<% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
