<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <%= link_to  load_data_project_path(@project), :class=> "btn btn-primary" do %>
      <i class="fa fa-refresh"></i> Refresh Data
  <% end %>
</div>
<!--iframe class="col-md-12"  src="https://docs.google.com/spreadsheets/d/1kyWb9jylT61uW9GptKzskrew1jfMCxesct7E7O7SYhs/pub?gid=1951684584&single=true&output=pdf"></iframe>
<iframe src="https://docs.google.com/spreadsheets/d/1kyWb9jylT61uW9GptKzskrew1jfMCxesct7E7O7SYhs/pubhtml?gid=573729869&amp;single=true&amp;widget=true&amp;headers=false"></iframe--!>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @project.name %></dd>
  
</dl>
<%- @arr.each do |row| %>
  <div class="row well">
  <div class="col-md-4">
    <%= image_tag row.first, :class=>"img-thumbnail" %>
  </div>
  <div class="col-md-4">
    <span class=""><%=raw row[1] %> </span>   
  </div>
  <div class="col-md-4">
    <span><%=raw row[2] %> </span>   
  </div>
  </div>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
