<% if !user_signed_in? %>
  <li>
    <%= link_to new_user_session_path do %>
      <i class="fa fa-sign-in"></i> Sign in
    <% end %>
    </li>
    <li>
      <%= link_to new_user_registration_path do %>
        <i class="fa fa-user-plus"></i> Sign up
      <% end %>  
    </li>
<% else %>
  <li>
    <%= link_to projects_path do %>
      <i class="fa fa-tasks"></i> Projects
    <% end %>  
  </li>
  <li>
    <%= link_to contact_path do %>
      <i class="fa fa-support"></i> Contact
    <% end %>
  </li>
  <li>
    <%= link_to  edit_user_registration_path do  %>
      <i class="fa fa-user"></i> Profile
    <% end %>
  </li>

<% if current_user.admin? %>
<li><%= link_to "Admin", admin_root_path %></li>
<% end %>
<li>
<%= link_to destroy_user_session_path, data:{method: :delete} do %>
  <i class="fa fa-power-off"></i> Sign out
<% end %>
</li>
<% end %>
